annotated-types
anyio
blinker
Brotli
certifi
cffi
charset-normalizer
click
colorama
cryptography
distro
et_xmlfile
exceptiongroup
Flask
Flask-Cors
greenlet
h11
h2
hpack
httpcore
httpx
hyperframe
idna
importlib_metadata
iniconfig
itsdangerous
Jinja2
jiter
jsonpatch
jsonpointer
langchain==0.3.25
langchain-core==0.3.25
langchain-community==0.3.25
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
MarkupSafe
numpy
openai
openpyxl
orjson
ormsgpack
packaging
pandas
pdfminer.six
pdfplumber
pillow
pluggy
pycparser
pydantic
pydantic_core
Pygments
PyMuPDF
pypdf
pypdfium2
PySocks
pytest
pytest-mock
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-toolbelt
ruff
setuptools
six
sniffio
SQLAlchemy
tenacity
tiktoken
tomli
tqdm
typing_extensions
typing-inspection
tzdata
urllib3
uuid_utils
Werkzeug
wheel
xxhash
zipp
zstandard
gunicorn